[submodule "yolov7"]
	path = yolov7
	url = https://github.com/WongKinYiu/yolov7
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/ultralytics/ultralytics.git
