[submodule "ultralytics"]
	path = models/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "models/yolov5"]
	path = models/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "models/yolov7"]
	path = models/yolov7
	url = https://github.com/WongKinYiu/yolov7
